<!DOCTYPE html>

<head>
    <title>AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>



    <div class="container" style="margin-top: 1cm;">
        <form action="http://localhost:5000/build" method="POST">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Inputs</span>
                </div>
                <input type="number" class="form-control" placeholder="1" name="inputs" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Outputs</span>
                </div>
                <input type="number" class="form-control" placeholder="1" name="outputs"
                    aria-describedby="basic-addon1">
            </div>

            <label for="basic-url">Your Unique Identify Description</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://localhost:5000/</span>
                </div>
                <input type="text" class="form-control" id="basic-url" name="uid" aria-describedby="basic-addon3">
            </div>

            <label for="basic-url">Please describe your model</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Description</span>
                </div>
                <input type="text" class="form-control" id="basic-url" name="description"
                    aria-describedby="basic-addon3">
            </div>

            <div class="text-center">
                <p><input type="submit" class="btn  btn-primary btn-lg" value="Build" /></p>

            </div>
            <div class="text-center">
                <a class="btn btn-secondary btn-lg" href="/">Back</a>
            </div>
            <div class="text-center" style="margin-top: 1cm;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <!-- Do something with the message -->
                {{ message }}

                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>



        </form>
    </div>
</body>