{% include 'head.html' %}


<body>
    <!-- Image and text -->

    {% include 'bar.html' %}



    <div class="container" style="margin-top: 1cm;">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/build.png" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">Build model</h5>
                            <p class="card-text">Define new model
                            </p>
                            <div class="text-center">
                                <a href="/build" class="btn  btn-primary btn-lg">Build</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/manage.png" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">Model manager</h5>
                            <p class="card-text">Manage created models
                            </p>
                            <div class="text-center">
                                <a href="/manage" class="btn  btn-primary btn-lg">Manage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

        </div>


</body>