<!DOCTYPE html>

<head>
    <title>AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://cdn2.iconfinder.com/data/icons/artificial-intelligence-ai/64/digital-brain-ai-machine-learning-artificial-intelligence-512.png"
                width="30" height="30" class="d-inline-block align-top" alt="">
            AI
        </a>
    </nav>


    <div class="container" style="margin-top: 1cm;">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/build.png" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">Build model</h5>
                            <p class="card-text">Define new model

                            

                            </p>
                            <div class="text-center">
                                <a href="/build" class="btn  btn-primary btn-lg">Build</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/manage.png" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">Model manager</h5>
                            <p class="card-text">Manage created models
                            </p>
                            <div class="text-center">
                                <a href="/manage" class="btn  btn-primary btn-lg">Manage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

        </div>


</body>