{% include 'head.html' %}


<body>

    {% include 'bar.html' %}


    <div class="list-group">


        {% for uid, service in data.services.items() %}

        <a href="/{{uid}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{uid}}</h5>
                <small>{{service.date}}</small>
            </div>
            <p class="mb-1">Inputs: {{service.inputs}}, Outputs: {{service.outputs}}</p>
            <small>{{service.description}}</small>
        </a>

        {% endfor %}

    </div>





</body>