{% include 'head.html' %}


<form action="http://localhost:5000/{{s.uid}}" method="POST">

    {%include 'bar.html'%}
    {%include 'service_bar.html'%}


    <div class="row">

        <div class="col-md-4">

            <div class="card">
                <div class="card-header">Options</div>

                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="options"
                                value="online_learning" {% if s.online_learning %}checked{% endif %}>

                            <label class="custom-control-label" for="customSwitch1">Online learning</label>
                        </div>
                    </div>

                    {% if s.online_learning %}
                    <div class="card-body">

                    <div class="form-group">
                        <label for="customRange1">Some range</label>
                        <input type="range" name=lr_percent value=100 class="custom-range" id="customRange1" name="lr">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Learning rate</label>
                        <input type="text" name="lr" class="form-control" id="exampleFormControlInput1" value={{s.lr}}>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">GAMMA</label>
                        <input type="text" name="GAMMA" class="form-control" id="exampleFormControlInput1"
                            value={{s.GAMMA}}>
                    </div>

                    <select class="custom-select" name='opt'>
                        <label>Optimizer</label>
                        <option {%if s.opt=='SGD'%} selected {%endif%} value="SGD">SGD</option>
                        <option {%if s.opt=='Adam'%} selected {%endif%} value="Adam">Adam</option>
                    </select>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Batch size</label>
                        <input type="number" name="batch_size" class="form-control" id="exampleFormControlInput1"
                            value={{s.batch_size}}>
                    </div>
                    </div>
                    {%endif%}


                    <div class="form-group">

                        <label for="exampleFormControlInput1">Inputs {{s.inputs}}</label>
                    </div>
                    <div class="form-group">

                        <a href="http://localhost:5000/layer/{{s.uid}}/add0/0"
                            class="btn  btn-outline-success btn-sm">Add</a>
                    </div>
                    {% for n in range(s.n_layers()) %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Hiden layer {{n}}</label>
                        <input type="number" name="l{{n}}" class="form-control" id="exampleFormControlInput1"
                            value={{s.layers[n]}}>
                        <a href="http://localhost:5000/layer/{{s.uid}}/add/{{n}}"
                            class="btn  btn-outline-success btn-sm">Add</a>
                        <a href="http://localhost:5000/layer/{{s.uid}}/del/{{n}}"
                            class="btn  btn-outline-danger btn-sm">Remove</a>
                    </div>




                    {%endfor%}
                    <div class="form-group">

                        <label for="exampleFormControlInput1">Outputs {{s.outputs}}</label>
                    </div>




                </div>
            </div>
            <div class="card">
                <div class="card-header">Genetic</div>
                <div class="card-body">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2" name="options"
                            value="genetic_learning" {% if s.genetic_learning %}checked{% endif %}>

                        <label class="custom-control-label" for="customSwitch2">Genetic Learning</label>
                    </div>
                    {% if s.genetic_learning %}
                    <div class="card-body">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Population size</label>
                        <input type="number" name="population_size" class="form-control" id="exampleFormControlInput1"
                            value={{s.population_size}}>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Childrens</label>
                        <input type="number" name="childrens" class="form-control" id="exampleFormControlInput1" value={{s.genetic.childrens}}>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">psi</label>
                        <input type="text" name="psi" class="form-control" id="exampleFormControlInput1" value={{s.genetic.psi}}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Mutation rate</label>
                        <input type="text" name="mr" class="form-control" id="exampleFormControlInput1" value={{s.mr}}>
                    </div>
                    <a href="http://localhost:5000/restart_genetic/{{s.uid}}"
                        class="btn  btn-outline-danger btn-lg">Restart Population</a>

                    {% endif %}
                </div>
            </div>

            </div>
        </div>
        {%if s.genetic %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Q-learning history</div>

                <div class="card-body">

                    <div class="chart" id="bargraph">
                        <script>
                            var graphs = {{ s.genetic.plot_batch_loss() | safe}};
                            Plotly.plot('bargraph', graphs, {});
                        </script>
                    </div>


                </div>
                <div class="card_body">
                    <a href="http://localhost:5000/history/{{s.uid}}/batch_loss"
                        class="btn  btn-outline-danger btn-lg">Clear</a>

                </div>

            </div>
            
            <div class="card">
                <div class="card-header">Genetic history</div>

                <div class="card-body">

                    <div class="chart" id="genetic">
                        <script>
                            var graphs = {{ s.genetic.plot_reward_total() | safe}};
                            Plotly.plot('genetic', graphs, {});
                        </script>
                    </div>


                </div>
                <div class="card_body">
                    <a href="http://localhost:5000/history/{{s.uid}}/reward_total"
                        class="btn  btn-outline-danger btn-lg">Clear</a>

                </div>

            </div>

            <div class="card">
                <div class="card-header">Statistics</div>
                <div class="card-body">
                    <label>Max action reward: {{s.model.reward_max}}</label>
                </div>
            </div>



        </div>
        {%endif%}
    </div>

    </div>
    </div>






</form>